body{
  font-family: Arial;
  margin:0;
}

.navbar{
  display:flex;
  justify-content:space-between;
  background:#222;
  color:white;
  padding:15px;
}

.navbar ul{
  display:flex;
  list-style:none;
  gap:20px;
}

.hero{
  text-align:center;
  padding:80px;
  background:#f4f4f4;
}

section{
  padding:50px;
}

.project{
  border:1px solid #ddd;
  padding:15px;
  margin:10px 0;
}